*{
  margin: 0;
  padding: 0;
  position: static;
}
.container{
  width: 100vw;
}
/*landing page*/
.landBG{
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.landOPAC{
  position: absolute;
  top: 0;
  z-index: 2;
  min-height: 100vh;
  width: 100vw;
  background-color: black;
  opacity: 0.63;
}
.landContentBox{
  position: absolute;
  top: 0;
  z-index: 3;
  min-height: 100vh;
  width: 100vw;
}
.landLOGO{
  width: 59.28267vw;
  height: 9.849vh;
  margin-top: 36.5763vh;
  margin-left: 20.5733vw;
}
.landSIGNUP{
  width: 80.533vmin;
  height: 6.15763vh;
  border-radius: 30px;
  border: none;
  background: #ffffff;
  color: #ff0100;
  font-family: Roboto;
  font-size: 16px;
  margin-top: 28.944158vh;
  margin-left: 9.6vw;
}
.landSIGNIN{
  width: 80.533vmin;
  height: 6.15763vh;
  border-radius: 30px;
  border: none;
  background: #ff0100;
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  margin-top: 1.3891625vh;
  margin-left: 9.6vw;
}
/*Sign Up and Sign In Page*/
.signUpIn{
  margin-left: 9.6vw;
  margin-top: 13.423vh;
  margin-bottom: 3.5714vh;
  font-size: 36px;
  font-weight: bold;
  color: white;
  font-family: Roboto;
}
.signUpInBox{
  border-radius: 50px 0 0 0;
  background-color: white;
  z-index: 3;
  min-height: 77.0935vh;
  padding-left: 9.6vw;
}
.whiteBoxContent{
  padding-top: 7.38916vh;
}
.socialEntry{
  display: grid;
  grid-auto-columns: 1fr 1fr 1fr 1fr;
  height: max-content;
  align-items: center;
  justify-content: center;
  margin-bottom: 2.709359vh;
}
.socialBox{
  margin-right: 2.667vw;
}
.g1{
  grid-column: 1/2;
}
.g2{
  grid-column: 2/3;
}
.g3{
  grid-column: 3/4;
}
.g4{
  grid-column: 4/5;
}
.signEmail{
  text-align: center;
  font-size: 16px;
  margin-bottom: 3.94088vh;
  font-family: Roboto;
  color: #ff0100;
}
.signUpInButton{
  min-width: 80.53vw;
  padding: 1.7857vh 34.4vw;
  border-radius: 50px;
  background-color: #ff0100;
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  border: none;
  margin-bottom: 3.69458vh;
}
.TermsandCond{
  width: 80.53vw;
  text-align: center;
  color: #727271;
  font-size: 16px;
  font-family: Roboto;
  margin-bottom: 2.21674vh;
}
.loginRedirect{
  width: 80.53vw;
  text-align: center;
  font-size: 16px;
  font-family: Roboto;
  color: #727271;
}
.login{
  font-weight: bold;
  color: #ff0100;
}
/*ChatBox*/
.topBar{
  margin-top: 2.45305vh;
  height: 7.38916256vh;
  width: 100%;
  display: grid;
  grid-template-columns: auto 34.667vw;
  justify-content: center;
}
.menu{
  width: 7.2vw;
  grid-column: 1/2;
  align-self: center;
  margin-left: 10.16vw;
  margin-right: 45.84vw;
}
.topBarBox{
  width: 35.733vw;
  height: 7.38916vh;
  grid-column: 2/3;
  background: #FFFFFF;
  border-radius: 60px 0  0 60px;
  opacity: 1;
}
.buttonBox{
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}
.home{
  grid-column: 1/2;
  align-self: center;
  justify-self: center;
}
.settings{
  grid-column: 2/3;
  align-self: center;
  justify-self: center;
}
.greet{
  max-height: 12.8384vh;
  margin-top: 8.743842364532vh;
  margin-left: 9.6vw;
  color: #ffffff;
  font-size: 16px;
  font-family: Roboto;
}
.chatBox{
  border-radius: 50px 0 0 0;
  background-color: white;
  z-index: 4;
  height: 67.50246305vh;
  padding-left: 9.6vw;
  margin-top: 2.463054vh;
  overflow: hidden;
}
.scrollBox{
  height: 55.6798vh;
  /* 79.6798vh; */
  overflow: visible;
  overflow-y: scroll;
  bottom: 9.96vh;
  /* position: fixed; */
  display:flex;
  flex-direction:column-reverse;
}
.scrollBox::-webkit-scrollbar {
  display: none;
}
.BotchatGrid{
  width:80vw;
  display: grid;
  grid-template-columns: 12.3073vw 46.66vw 20.267vw;
  grid-template-rows: 1fr auto;
  row-gap: 1.2315vh;
  margin-bottom: 1.4778vh;
}
.botDPGrid{
  grid-row: 1/2;
  grid-column: 1/2;
  justify-self: start;
  align-self: center;
}
.BotchatBubble{
  width: 58.4667vw;
  height: max-content;
  grid-column: 2/3;
  grid-row: 1/2;
  border-radius: 20px 20px 20px 0;
  background: #F5F5F5 ;
  padding: 1.60098vh 3.4667vw 0.738916vh 4vw;
  opacity: 1;
  font-size: 14px;
  font-family: Roboto;
}
.option{
  grid-row: 2/3;
  grid-column: 2/ span 2;
  border-radius: 25px
}
.bigOption{
  grid-row: 2/3;
  grid-column: 1/ span 3;
}
.selectionGrid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #ffffff;
  border-radius: 25px;
  box-shadow: 0px 0px 10px #00000021;
}
.airplaneMainBox{
  padding: 1.35vh 3.33vw;
  background: #ffffff;
  grid-column: 1/2;
  display: grid;
  grid-template-rows: 2fr 1fr;
  border-radius: 25px 0 0 25px;
}
.airplaneBox{
  background: #ff00000a;
  width: 12vw;
  height: 12vw;
  grid-row: 1/2;
  border-radius: 50%;
  justify-self: center;
  align-self: center;
}
.airplane{
  width: 5.33066vw;
  margin: 30%;
  justify-self: center;
  align-self: center;
}
.airplaneText{
  grid-row: 2/3;
  text-align: center;
  font: normal normal bold 13px/18px Roboto;
}
.questionMainBox{
  padding: 1.35vh 3.33vw;
  background: #ffffff;
  grid-column: 2/3;
  display: grid;
  grid-template-rows: 2fr 1fr;
}
.questionBox{
  background: #ff00000a;
  width: 12vw;
  height: 12vw;
  grid-row: 1/2;
  border-radius: 50%;
  justify-self: center;
  align-self: center;
}
.questionText{
  grid-row: 2/3;
  text-align: center;
  font: normal normal bold 13px/18px Roboto;
}
.question{
  width: 3.664vw;
  margin: 30%;
  justify-self: center;
  align-self: center;
}
.suitcaseMainBox{
  padding: 1.35vh 3.33vw;
  background: #ffffff;
  grid-column: 3/4;
  display: grid;
  grid-template-rows: 2fr 1fr;
  border-radius: 0 25px 25px 0;
}
.suitcaseBox{
  background: #ff00000a;
  width: 12vw;
  height: 12vw;
  grid-row: 1/2;
  border-radius: 50%;
  justify-self: center;
  align-self: center;
}
.suitcase{
  width: 5.02666vw;
  margin: 30%;
  justify-self: center;
  align-self: center;
}
.suitcaseText{
  grid-row: 2/3;
  text-align: center;
  font: normal normal bold 13px/18px Roboto;
}
.Bottime{
  text-align: left;
  font: normal normal medium 12px/16px Roboto;
  letter-spacing: 0px;
  color: #BEBEBE;
  opacity: 1;
  grid-column: 2/3;
}
.typeLayout{
  width: 75.2vw;
  /* height: 6.77339901vh; */
  min-height: 36.16px;
  margin-left: 9.6vw;
  /* height: max-content; */
  padding: 8px 10px 8px 10px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 56vw 9.066vw 10.133333vw;
  background: #ffffff;
  box-shadow: 0px 0px 15px #00000026;
  margin-bottom: 1.47783251vh;
  position: fixed;
  bottom: 0;
  z-index: 5;
}
.inputBox{
  grid-column: 1/2;
  border: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important; 
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important; 
  outline: none !important;
}
.recordButton{
  grid-column: 2/3;
  justify-self: center;
  align-self: center;
}
.sendButton{
  width: 10.133vw;
  height: 10.133vw;
  border-radius: 50%;
  background-color: #ff0100;
  grid-column: 3/4;
  justify-self: center;
  align-self: center;
}
.sendLogo{
  width: 4.88vw;
  margin: 27%;
  transform: rotate(-45deg);
}
.recordLogo{
  width: 3.88vw;
}
.UserchatGrid{
  margin-left: 15.7vw;
  width:66.266vw;
  display: grid;
  /* grid-template-columns: 177px 49px; */
  margin-bottom: 1.47783251vh;
}
.UserchatGridTyping{
  margin-left: 42.7vw;
  width:36.266vw;
  display: grid;
  /* grid-template-columns: 177px 49px; */
  margin-bottom: calc(1.47783251vh + 36.16px);
}
.UserDPGrid{
  width:10.133vw;
  height: 10.133vw;
  grid-row: 1/3;
  grid-column: 2/3;
  justify-self: start;
  align-self: end;
}
.UserchatBubble{
  box-shadow: 0px 0px 15px #00000026;
  width: 46.667vw;
  height: max-content;
  grid-row: 1/2;
  border-radius: 20px 20px 0 20px;
  background: #FFFFFF ;
  padding: 1.60098vh 4vw 0.738916vh 3.4667vw;
  opacity: 1;
  font-size: 14px;
  font-family: Roboto;
}
.UserchatBubbleTyping{
  box-shadow: 0px 0px 15px #00000026;
  width: 21.667vw;
  height: 3vh;
  min-height: 22px;
  grid-row: 1/2;
  border-radius: 20px 20px 0 20px;
  background: #FFFFFF ;
  padding: 1.60098vh 4vw 4.738916vh 3.4667vw;
  opacity: 1;
  font-size: 14px;
  font-family: Roboto;
}
.Usertime{
  margin-top: 0%;
  text-align: right;
  font: normal normal medium 12px/16px Roboto;
  letter-spacing: 0px;
  color: #BEBEBE;
  opacity: 1;
  grid-column: 1/2;
  grid-row: 2/3;
}

.typing {
  height: max-content;
  position: relative;
  padding: 10px;
  margin-left: 5px;
  border-radius: 20px;
}

.typing__dot {
  float: left;
  width: 8px;
  height: 8px;
  margin: 0 4px;
  background: #8d8c91;
  border-radius: 50%;
  opacity: 0;
  animation: loadingFade 1s infinite;
}

.typing__dot:nth-child(1) {
  animation-delay: 0s;
}

.typing__dot:nth-child(2) {
  animation-delay: 0.2s;
}

.typing__dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes loadingFade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}


/* Slider */
ul{
  list-style-type: none;
}
.slick-slider {
  position: static;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  padding: 8px 0!important;
  grid-column: 1 / span 4;
  grid-row: 1/2;
  /* position: relative; */
  display: block;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.center .slick-center div {
    font-size: 20px;
    font-weight: 600;
}

.item {
display: flex !important;
flex-shrink: 0;
align-items: center;
justify-content: center;
height: 100px;
text-align: center;
-webkit-user-select: none; /* Safari */
-khtml-user-select: none; /* Konqueror HTML */
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* Internet Explorer/Edge */
user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
-webkit-touch-callout: none; /* iOS Safari */
outline: none!important;
}
.flightList{
  width: 61.0667vw!important;
  max-height: max-content!important;
  /* min-height: 355px!important; */
  border-radius: 25px;
  box-shadow: 0px 0px 15px #00000026;
  overflow: hidden;
  margin-left:2.85714vw;
}
.eachFlight{
  display: grid;
  grid-template-columns: 1fr 20%;
  padding: 1.1083743vh 0 1.1083743vh 20.2667vw;
  border-bottom: 1px grey solid;
  text-align: left;
  font: normal 15px Roboto;
  letter-spacing: 0px;
  color: #E81F3E;
}
.nextArrow {
  width: 10.667vw;
  height: 10.667vw;
  border-radius: 50% ;
  background: #FF0100 0% 0% no-repeat padding-box;
  opacity: 1;
  grid-row: 2/3;
  grid-column: 3/4;
  align-self: center;
  justify-self: center;
  text-align: center;
  
}

.prevArrow {
  width: 10.667vw;
  height: 10.667vw;
  border-radius: 50% ;
  background: #FF0100 0% 0% no-repeat padding-box;
  opacity: 1;
  grid-row: 2/3;
  grid-column: 1/2;
  align-self: center;
  justify-self: end;
  text-align: center;
}
.slick-dots{
  grid-row: 2/3;
  grid-column: 2/3;
  align-self: center;
  justify-self: end;
}
.viewAllFlights{
  width: 38.933vw;
  height: 4.9261vh;
  min-height: 34px;
  margin: 0 5px;
  background: #ff0100 0% 0% no-repeat padding-box;
  background: #FF0100 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 15px #FF010080;
  border-radius: 40px;
  opacity: 1;
  border: none;
  font: normal 13px Roboto;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}
.flight-tick{
  display: inline-block;
}
.options{
  display: flow-root;
}
.botOption{
  margin: 0.533vw;
  display: inline-block;
  padding:0.8620689vh 2.666667vw 1.10837438vh 2.666667vw;
  font: normal 14px Roboto;
  border-radius: 30px;
  letter-spacing: 0px;
  background: #F5F5F5 0% 0% no-repeat padding-box;
  color: #1C1C1C;
  opacity: 1;
  text-align: center;
  width: max-content;
}
.fareDetails{
  padding:1.84729vh 3.4667vw 2.955665vh 3.4667vw;
  width: 57.4667vw;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 25px #00000029;
  border-radius: 20px;
  opacity: 1;
  text-align: left;
}
.fareDetailsHeading{
  font:normal 16px Roboto;
  letter-spacing: 0px;
  color: #FF0100;
  opacity: 1;
  margin: 0.985vh 0;
}
.fareMessageList {
  list-style-type: none
}

.fareMessage {
  font-size: 15px;
  font-weight: normal;
  font-family: Roboto;
  column-gap: 2.133vw;
  display: grid;
  grid-template-columns: 6.6677vw auto;
  justify-content: start;
  align-items: center;
  margin-bottom: 0.6157vh;
}

.fareMessage::before {
  content: ">";
  font-size: 25px;
  font-weight: bolder;
  color: #000000;
}
.seatMap{
  text-align: center;
  font: normal 13px Roboto;
  letter-spacing: 0px;
  color: #FFFFFF;
  padding:1.3546798vh 20.2667vw;
  border: none;
  margin-top: 1.231527vh;
  background: #FF0100 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 15px #FF010080;
  border-radius: 40px;
  opacity: 1;
}
.menuList{
  overflow: hidden;
  margin: auto;
  width: 66.667vw;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 25px #00000026;
  border-radius: 25px;
  opacity: 1;
  }
  .menuListMini{
  display: grid;
  grid-template-columns: 50.667vw 16vw;
  border-bottom: 1px black solid;
  }
  .flightMenuName{
    padding: 1.97044vh 5.33vw 0 5.33vw;
    font:bold 24px Roboto;
    letter-spacing: 0px;
    color: #1C1C1C;
    opacity: 1;
    border-bottom: #000000 dashed 1px;
  }
  .flightMenuLogo{
    width:16vw;
    border-bottom: #000000 dashed 1px;       
  }
  .mealBox{
    padding: 0.923645vh 0 0.923645vh 4.2667vw;
    display: grid;
    grid-template-columns: 6.667vw auto;
    justify-content: start;
    align-items: center;
    font: normal 12px Roboto;
    letter-spacing: 0px;
    color: #1C1C1C;
    opacity: 1;
    /* border-bottom: 1px black solid; */
    border-right: 1px black solid;
  }
  .mealBox::before {
    content: ">";
    font-size: 25px;
    font-weight: bolder;
    text-align: left;
    font: normal 12px Roboto;
    letter-spacing: 0px;
    color: #1C1C1C;
    opacity: 1;
  }
  .mealPriceBox{
    /* border-bottom: 1px black solid; */
    justify-self: center;
    align-self: center;
    font: bold 12px Roboto;
    letter-spacing: 0px;
    color: #FF0100;
    opacity: 1;
  }
  
@media (min-width : 768px){
  .chatBox{
    height: 74.502463vh;
  }
}