*{
  margin: 0;
  padding: 0;
}
.container{
  width: 100vw;
}
/*landing page*/
.landBG{
  width: 100vw;
  height: 100vmax;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.landOPAC{
  position: absolute;
  top: 0;
  z-index: 2;
  min-height: 100vmax;
  width: 100vw;
  background-color: black;
  opacity: 0.63;
}
.landContentBox{
  position: absolute;
  top: 0;
  z-index: 3;
  min-height: 100vmax;
  width: 100vw;
}
.landLOGO{
  width: 59.28267vw;
  height: 9.849vmax;
  margin-top: 36.5763vmax;
  margin-left: 20.5733vw;
}
.landSIGNUP{
  width: 80.533vmin;
  height: 6.15763vmax;
  border-radius: 30px;
  border: none;
  background: #ffffff;
  color: #ff0100;
  font-family: Roboto;
  font-size: 16px;
  margin-top: 28.944158vmax;
  margin-left: 9.6vw;
}
.landSIGNIN{
  width: 80.533vmin;
  height: 6.15763vmax;
  border-radius: 30px;
  border: none;
  background: #ff0100;
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  margin-top: 1.3891625vmax;
  margin-left: 9.6vw;
}
/*Sign Up and Sign In Page*/
.signUpIn{
  margin-left: 9.6vw;
  margin-top: 13.423vmax;
  margin-bottom: 3.5714vmax;
  font-size: 36px;
  font-weight: bold;
  color: white;
  font-family: Roboto;
}
.signUpInBox{
  border-radius: 50px 0 0 0;
  background-color: white;
  z-index: 3;
  min-height: 77.0935vmax;
  padding-left: 9.6vw;
}
.whiteBoxContent{
  padding-top: 7.38916vmax;
}
.socialEntry{
  display: grid;
  grid-auto-columns: 1fr 1fr 1fr 1fr;
  height: 8.374384vmax;
  align-items: center;
  justify-content: center;
  margin-bottom: 2.709359vmax;
}
.socialBox{
  margin-right: 2.667vw;
}
.g1{
  grid-column: 1/2;
}
.g2{
  grid-column: 2/3;
}
.g3{
  grid-column: 3/4;
}
.g4{
  grid-column: 4/5;
}
.signEmail{
  text-align: center;
  font-size: 16px;
  margin-bottom: 3.94088vmax;
  font-family: Roboto;
  color: #ff0100;
}
.signUpInButton{
  width: 80.53vw;
  height: 6.1576vmax;
  border-radius: 50px;
  background-color: #ff0100;
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  border: none;
  margin-bottom: 3.69458vmax;
}
.TermsandCond{
  width: 80.53vw;
  text-align: center;
  color: #727271;
  font-size: 16px;
  font-family: Roboto;
  margin-bottom: 2.21674vmax;
}
.loginRedirect{
  width: 80.53vw;
  text-align: center;
  font-size: 16px;
  font-family: Roboto;
  color: #727271;
}
.login{
  font-weight: bold;
  color: #ff0100;
}
/*ChatBox*/
.topBar{
  margin-top: 2.45305vmax;
  height: 7.38916256vmax;
  width: 100%;
  display: grid;
  grid-template-columns: auto 34.667vw;
  justify-content: center;
}
.menu{
  width: 7.2vw;
  grid-column: 1/2;
  align-self: center;
  margin-left: 10.16vw;
  margin-right: 45.84vw;
}
.topBarBox{
  width: 35.733vw;
  height: 7.38916vmax;
  grid-column: 2/3;
  background: #FFFFFF;
  border-radius: 60px 0  0 60px;
  opacity: 1;
}
.buttonBox{
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}
.home{
  grid-column: 1/2;
  align-self: center;
  justify-self: center;
}
.settings{
  grid-column: 2/3;
  align-self: center;
  justify-self: center;
}
.greet{
  margin-top: 8.743842364532vmax;
  margin-left: 9.6vw;
  color: #ffffff;
  font-size: 16px;
  font-family: Roboto;
}
.chatBox{
  border-radius: 50px 0 0 0;
  background-color: white;
  z-index: 4;
  height: 67.50246305vmax;
  padding-left: 9.6vw;
  margin-top: 2.463054vmax;
}
.scrollBox{
  max-height: 55.6798vmax;
  /* 79.6798vmax; */
  overflow: visible;
  overflow-y: scroll;
  bottom: 10.96vmax;
  position: fixed;
  display:flex;
  flex-direction:column-reverse;
}
.scrollBox::-webkit-scrollbar {
  display: none;
}
.BotchatGrid{
  width:80vw;
  display: grid;
  grid-template-columns: 12.3073vw 46.66vw 20.267vw;
  grid-template-rows: 1fr auto;
  row-gap: 1.2315vmax;
  margin-bottom: 1.4778vmax;
}
.botDPGrid{
  grid-row: 1/ span 2;
  grid-column: 1/2;
  justify-self: start;
  align-self: center;
}
.BotchatBubble{
  width: 46.66vw;
  height: max-content;
  grid-column: 2/3;
  grid-row: 1/2;
  border-radius: 20px 20px 20px 0;
  background: #F5F5F5 ;
  padding: 1.60098vmax 3.4667vw 0.738916vmax 4vw;
  opacity: 1;
  font-size: 14px;
  font-family: Roboto;
}
.option{
  grid-row: 2/3;
  grid-column: 2/ span 2;
  border-radius: 25px
}
.selectionGrid{
  width: 66.933vw;
  height: 11.453201970vmax;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #ffffff;
  border-radius: 25px;
  box-shadow: 0px 0px 10px #00000021;
}
.airplaneMainBox{
  background: #ffffff;
  grid-column: 1/2;
  display: grid;
  grid-template-rows: 2fr 1fr;
  border-radius: 25px 0 0 25px;
}
.airplaneBox{
  background: #ff00000a;
  width: 12vw;
  height: 12vw;
  grid-row: 1/2;
  border-radius: 50%;
  justify-self: center;
  align-self: center;
}
.airplane{
  width: 5.33066vw;
  margin: 30%;
  justify-self: center;
  align-self: center;
}
.airplaneText{
  grid-row: 2/3;
  text-align: center;
  font: normal normal bold 13px/18px Roboto;
}
.questionMainBox{
  background: #ffffff;
  grid-column: 2/3;
  display: grid;
  grid-template-rows: 2fr 1fr;
}
.questionBox{
  background: #ff00000a;
  width: 12vw;
  height: 12vw;
  grid-row: 1/2;
  border-radius: 50%;
  justify-self: center;
  align-self: center;
}
.questionText{
  grid-row: 2/3;
  text-align: center;
  font: normal normal bold 13px/18px Roboto;
}
.question{
  width: 3.664vw;
  margin: 30%;
  justify-self: center;
  align-self: center;
}
.suitcaseMainBox{
  background: #ffffff;
  grid-column: 3/4;
  display: grid;
  grid-template-rows: 2fr 1fr;
  border-radius: 0 25px 25px 0;
}
.suitcaseBox{
  background: #ff00000a;
  width: 12vw;
  height: 12vw;
  grid-row: 1/2;
  border-radius: 50%;
  justify-self: center;
  align-self: center;
}
.suitcase{
  width: 5.02666vw;
  margin: 30%;
  justify-self: center;
  align-self: center;
}
.suitcaseText{
  grid-row: 2/3;
  text-align: center;
  font: normal normal bold 13px/18px Roboto;
}
.Bottime{
  text-align: left;
  font: normal normal medium 12px/16px Roboto;
  letter-spacing: 0px;
  color: #BEBEBE;
  opacity: 1;
  grid-column: 2/3;
}
.typeLayout{
  width: 75.2vw;
  height: 6.77339901vmax;
  margin-left: 9.6vw;
  /* height: max-content; */
  padding: 8px 10px 8px 10px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 56vw 9.066vw 10.133333vw;
  background: #ffffff;
  box-shadow: 0px 0px 15px #00000026;
  margin-bottom: 1.47783251vmax;
  position: fixed;
  bottom: 0;
  z-index: 5;
}
.inputBox{
  grid-column: 1/2;
  border: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important; 
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important; 
  outline: none !important;
}
.recordButton{
  grid-column: 2/3;
  justify-self: center;
  align-self: center;
}
.sendButton{
  width: 10.133vw;
  height: 10.133vw;
  border-radius: 50%;
  background-color: #ff0100;
  grid-column: 3/4;
  justify-self: center;
  align-self: center;
}
.sendLogo{
  margin: 27%;
  transform: rotate(-45deg);
}
.UserchatGrid{
  margin-left: 15.7vw;
  width:60.266vw;
  display: grid;
  /* grid-template-columns: 177px 49px; */
  margin-bottom: 1.47783251vmax;
}
.UserchatGridTyping{
  margin-left: 42.7vw;
  width:36.266vw;
  display: grid;
  /* grid-template-columns: 177px 49px; */
  margin-bottom: 1.47783251vmax;
}
.UserDPGrid{
  width:10.133vw;
  height: 10.133vw;
  grid-row: 1/3;
  grid-column: 2/3;
  justify-self: start;
  align-self: end;
}
.UserchatBubble{
  box-shadow: 0px 0px 15px #00000026;
  width: 46.667vw;
  height: max-content;
  grid-row: 1/2;
  border-radius: 20px 20px 0 20px;
  background: #F5F5F5 ;
  padding: 1.60098vmax 4vw 0.738916vmax 3.4667vw;
  opacity: 1;
  font-size: 14px;
  font-family: Roboto;
}
.UserchatBubbleTyping{
  box-shadow: 0px 0px 15px #00000026;
  width: 18.667vw;
  height: 3vmax;
  grid-row: 1/2;
  border-radius: 20px 20px 0 20px;
  background: #F5F5F5 ;
  padding: 1.60098vmax 4vw 0.738916vmax 3.4667vw;
  opacity: 1;
  font-size: 14px;
  font-family: Roboto;
}
.Usertime{
  margin-top: 0%;
  text-align: right;
  font: normal normal medium 12px/16px Roboto;
  letter-spacing: 0px;
  color: #BEBEBE;
  opacity: 1;
  grid-column: 1/2;
  grid-row: 2/3;
}

.typing {
  height: 2em;
  position: relative;
  padding: 10px;
  margin-left: 5px;
  border-radius: 20px;
}

.typing__dot {
  float: left;
  width: 8px;
  height: 8px;
  margin: 0 4px;
  background: #8d8c91;
  border-radius: 50%;
  opacity: 0;
  animation: loadingFade 1s infinite;
}

.typing__dot:nth-child(1) {
  animation-delay: 0s;
}

.typing__dot:nth-child(2) {
  animation-delay: 0.2s;
}

.typing__dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes loadingFade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

@media (min-width : 768px){
  .chatBox{
    height: 74.502463vmax;
  }
}